header {
    background-color: rgb(44, 154, 218);
    background-image: url("img/pattern.png");
    background-size: 400px;
    height: 100px;
}

main {
    font-size: 20px;
}

.logo {
    width: 160px;
    height: 160px;
    position: relative;
    left: 5px;
    bottom: 30px;
}

h1 {
    font-size: 75px;
    margin-top: 1px;
    margin-bottom: 5px;
}

mark {
    background-color: rgb(219, 255, 14);
}

span {
    color: gray;
    font-size: 30px;
}

.text {
    color: rgb(28, 189, 238);
    margin-top: 10px;
}

.data {
    color: grey;
    font-size: 20px;
    margin-bottom: 30px;
}

.image {
    width: 800px;
    height: 600px;
}

table {
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    width: 100%;
}   

.text-2 {
    color: rgb(255, 255, 255);
    text-align: left;
}

thead {
    background-color: rgb(59, 184, 223);
    
}

.aqua-raw {
    background-color: rgb(132, 231, 235);
}

.white-raw {
    background-color: rgb(255, 255, 255);
}

td {
    width: 25%;
    font-size: 18px;
}

.adv-text {
    color: gray;
}

.adv-text-2 {
    background-image: url("../html-css-booleaner/img/monitor.jpg");
    width: 300px;
    height: 200px;
    color: white;
    text-align: left;
}

.adv-text-3 {
    background-image: url("../html-css-booleaner/img/graph.jpg");
    width: 300px;
    height: 200px;
    color: white;
}

